.contact__container {
  grid-template-columns: 4fr 8fr;
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--weight-600);
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.contact__description {
  font-size: var(--small-font-size);
  line-height: 1.6;
}

.contact__description,
.contact__info .info__item {
  margin-bottom: 2rem;
}

.contact__info .info__item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.contact__info .info__icon {
  color: var(--first-color);
  font-size: var(--h2-font-size);
}
.contact__info .info__title {
  font-size: var(--small-font-size);
}

.contact__info .info__desc {
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
}

.contact__socials {
  display: flex;
  column-gap: 16px;
}

.contact__social-link {
  background-color: var(--container-color);
  color: var(--title-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  transition: all 0.5s ease;
}
.contact__social-link:hover {
  background-color: var(--first-color);
  color: var(--text-white);
}

.form__input-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.form__input-div {
  margin-bottom: 30px;
}

.form__control {
  border: 1px solid var(--container-color);
  background-color: var(--container-color);
  color: var(--title-color);
  width: 100%;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: var(--small-font-size);
  transition: all .3s ease;
}

.form__control:focus{
    border-color: var(--first-color);
}

.textarea {
    resize: none;
    height: 180px;
    padding-top: 3rem;
    font-size: var(--normal-font-size);
}

.contact__button-icon{
    font-size: var(--h3-font-size);
    line-height: 64px;
}

@media screen and (max-width:786px) {


.contact__container {
  grid-template-columns: 1fr; 
}

.contact__info .info__item {
  margin-bottom: .7rem; 
}

.contact__info .info__item .info__icon {
  font-size: var(--h3-font-size); 
}
.contact__social-link{
  width: 30px;
  height: 30px;
  line-height: 34px;
}
.contact__info .info__item .info__title {
  font-size: var(--smaller-font-size); 
}

.form__input-group {
  grid-template-columns: 1fr; 
  column-gap: 0; 
}

.form__input-div {
  margin-bottom: 20px; 
}

.form__control{
  /* background-color: brown; */
  border-radius: .5rem;
}
.form__control,
.textarea {
  font-size: var(--smaller-font-size); 
}

.textarea {
  padding-top: 1rem;
  height: 120px; 
}

.contact__button-icon {
  font-size: var(--large-font-size);
  line-height: 3.5; 
}

  
}

@media screen and (min-width:1024px) {
  /* Styles for Large Screens (e.g., Laptops, Desktops) */

.contact__container {
  grid-template-columns: 4fr 8fr;
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--weight-600);
  margin-bottom: 1rem;
}

.contact__description {
  font-size: var(--small-font-size);
  line-height: 1.6;
}

.contact__description,
.contact__info .info__item {
  margin-bottom: 2rem;
}

.contact__info .info__item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.contact__info .info__icon {
  color: var(--first-color);
  font-size: var(--h2-font-size);
}

.contact__info .info__title {
  font-size: var(--small-font-size);
}

.contact__info .info__desc {
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
}

.contact__socials {
  display: flex;
  column-gap: 16px;
}

.contact__social-link {
  background-color: var(--container-color);
  color: var(--title-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  transition: all 0.5s ease;
}

.contact__social-link:hover {
  background-color: var(--first-color);
  color: var(--text-white);
}

.form__input-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.form__input-div {
  margin-bottom: 30px;
}

.form__control {
  border: 1px solid var(--container-color);
  background-color: var(--container-color);
  color: var(--title-color);
  width: 100%;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: var(--small-font-size);
  transition: all .3s ease;
}

.form__control:focus {
  border-color: var(--first-color);
}

.textarea {
  resize: none;
  height: 180px;
  padding-top: 3rem;
  font-size: var(--normal-font-size);
}

.contact__button-icon {
  font-size: var(--h3-font-size);
  line-height: 64px;
}

}